@charset "utf-8";

/* ファントスタイル Noto Sans JPをインポート→参考：https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* body全体にフォント Noto Sans JPを指定 */
body{
    font-family: 'Noto Sans JP', sans-serif;
}


/* 表示するコンテンツを中央に配置 */
.contents-wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 25px; /* 左の余白を追加 */
    padding-right: 25px; /* 右の余白を追加 */
    box-sizing: border-box; /* ボックスサイズの計算方法を変更 */

}


.special-link {
    color: black; /* 特定のリンクの色を黒に設定 */
  }
  

.container{
    display: flex;
}

h1{
    margin-bottom: 40px;
}

h2{
    margin-bottom: 30px;
}

h3{
    margin-bottom: 15px;
}

dl{
    margin-bottom: 30px;
}

dt{
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
}

dd{
    margin-bottom: 8px;
}
logo{
    margin: 15px; 
    /* margin-right: 20px; */

}
dd:last-of-type{
    margin-bottom: 0;
}

.history-year{
    font-weight: 600;
}

/* https://saruwakakun.com/html-css/reference/h-designを参考にした */
/* 右側のコンテンツのh2に対して適用 */
h2{
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
}

/* 左側のコンテンツを作成 */
.left-contents{
    width: 36.8%;
    margin-right: 80px;
}

.left-img-contents{
    /* width: 100%; */
    margin-right: 20px;
}

/* https://saruwakakun.com/html-css/reference/h-designを参考にした */
/* 右側のコンテンツのh3に対して適用 */
h3{
    background: linear-gradient(transparent 70%, #78cedf67 70%);
    display: inline-block;
}

/* 右側のコンテンツのliに対して適用 */
li{
    display: block;
    background-color: #f5f5f5;
    padding: 16px;
    margin-bottom: 10px;
}

/* ulに対して適用 */
ul{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.pdf_icon{
    width: 1.25em;
    vertical-align: middle;
}

a{
    text-decoration: none;
    display: inline-block;
    color: #2d99ff;
}

a:hover{
    opacity: 0.4;
}

section{
    margin-bottom: 60px;
}
@media (min-width: 768px){
    .anchor-linkbox{
        display: none;
    }
}


/* 携帯用の設定 */
@media (max-width: 767px){
    .container{
        flex-direction: column;
        width: 100%;
    }

    .contents-wrapper{
        width: 90%;
        margin: 0 auto;
    }

    .left-contents{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .right-contents{
        width: 100%;
    }
    
    section{
        width: 100%;  
    }

    ul{
        width: 100%;  
    
    }

    .check{
        display: none;
    }
    
    /* 通常時表示されるテキスト */
    .label{
        background: #8bc2f9;
        display: block;
        align-items: center;
        margin-bottom: 10px;
        height: 30px;
        padding: 20px;
        font-size: 20px;
    }
    
    /* クリック時に表示されるテキスト */
    .text{
        background: #eff7ff;
        align-items: center;
        margin-bottom: 10px;
        /*通常時は見えなくする*/
        overflow: hidden;
        /*  通常時は高さ0を指定  */
        height: 0;
        transition: 0.5s;
    }
    
    /* クリック時のスタイル */
    .check:checked + .label + .text{
        height: auto;
        padding: 20px;
    }

    .anchor-linkbox{
        margin-bottom: 20px;
    }

    .anchor-link{
        display: block;
        margin-bottom: 8px;
    
        /*  */
        position: relative;
        padding-left: 20px;
        color: #333;
        text-decoration: none;
        font-size: 18px;
    }

    .anchor-link:last-of-type{
        margin-bottom: 0;
    }
    
    .anchor-link:before {
      content: '';
      width: 6px;
      height: 6px;
      border: 0;
      border-bottom: solid 2px #333;
      border-right: solid 2px #333;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -6px;
      transform: rotate(45deg);
    }
}

